h2 {
    border-style: solid;
    border-width: 5px;
    /*border-left-width: 5px;
    border-right-width: 5px;*/
    border-color: purple;
	font-family: Brush Script Std;
	font-size : 2.5em;
	text-align: Center	;
	margin: 15px;
	margin-bottom: 10px;
	padding : 30px;
}

h3 {
    border-style: solid;
	border-width: 0px;
	border-bottom-width : 2px;
	font-family : Calibri;
	font-size : 1.5em;
	text-align: Center;
	line-height: 2;
	margin-top: 10px;
	margin-bottom: 70px;
	padding-bottom : 30px;
	padding-top : 20px;
}

h4 {
	font-family : Calibri;
	font-size : 1.2em;
	text-align: Center;
}

h5 {
	font-family : Calibri;
	font-size : 1em;
	text-align: Center;
}

body {
	background-color: black;
	/*background : url(./Guitare.jpg);*/
	background-attachment : fixed;
    color: white;
	font-size : 18px;
}

p{
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
    line-height: 1;
	font-family : Calibri;
	font-size : 1em;
	text-align: Center;
}

/*img{
	width:100px;
	}*/
	
#BtnList
{	
	width : 150px;
	height: 140px;
	float:left;
	margin-left:20%;
	margin-top:0px;
	

	/*background-image : url("Listgp1.jpg");*/
	
}

#BtnList :hover
{
	width : 160px;
	height: 149px;
	float:left;

	/*background-image : url("Listgp2.jpg")*/
	/*background-repeat:no-repeat*/
}
#BtnGenres
{	
	width : 150px;
	height: 140px;
	float:left;
	margin:5%;
	margin-top:0px;
	/*background-image : url("genres1.jpg");*/
	
}

#BtnGenres :hover
{
	width : 160px;
	height: 149px;
	float:left;

	/*background-image : url("genres2.jpg");*/
}
#BtnPref
{	
	width : 150px;
	height: 140px;
	float:left;

	margin-top:0px;
	/*background-image : url("pref1.jpg");*/
	
}

#BtnPref :hover
{
	width : 160px;
	height: 149px;
	float:left;

	/*background-image : url("pref2.jpg");*/
}
#BtnDon
{
	
	width : 150px;
	height: 140px;
	float:left;
	margin:5%;
	margin-right:15%;
	margin-top:0px;
	/*background-image : url("Don1.jpg");*/
	
}

#BtnDon :hover
{	
	width : 160px;
	height: 149px;
	float:left;

	/*background-image : url("Don2.jpg");*/
}

#entete
{
	
	float: center;
	width : 100%;
	height : 300px;
}

#piedpage
{
	float: bottom;
	font-family: Calibri;
	font-size : 1em;
	text-align: center;
	margin-top: 10%;
	
	
	
	border-style: solid;
	border-width: 0px;
	border-top-width : 2px;
	
}

#contenuliste
{

	font-family: Calibri;
	font-size : 1em;
	text-align: center;
}

#contenupref
{

	font-family: Calibri;
	font-size : 1em;
	text-align: center;
}

#NbAlbums
{
	
	background: linear-gradient(to left, grey , black );
	float: center;
	border: 2px solid #fff;
	padding: 20px;
	margin-left: 50%;
	margin-right:10%;
    border-radius: 10px;
	font-family : Calibri;
	text-align:center ;
}